@import url('https://fonts.googleapis.com/css?family=Gugi&display=swap');

$body-font-family: 'Gugi', sans-serif;
$heading-font-family: 'Gugi', sans-serif;

$border-radius-root: 0px;

$expansion-panel-header-padding: 16px;
$expansion-panel-content-padding: 4px 16px 16px;
$expansion-panel-active-header-min-height: 48px;

$calendar-event-right-empty: 0px;
